<section class="home container ">
    <h1  class="center-align">SMART BUDGET</h1>
    <div class="home_content">
        <p class="center-align">“Smart Budget makes it easy to manage your finances by allowing you to easily record your income and expenses. With Smart Budget, you can keep track of your spending and make informed decisions about your money.”</p>
    
       <div class="center-align">
       <%= link_to "Get Start", categories_path, class: "btn pulse waves-effect-waves-ligth blue darken-4" %> <br> <br>
       <%= link_to 'Sign out',  destroy_user_session_path, method: :delete, class: "btn red darken-4 text-ligth" %>
       </div>
     
    </div>
</section>