<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<button>
<a href="<%= url_for('/users/index') %>" class="btn"><</a>

</button>
<div id="categories">
  <% @categories.each do |category| %>
    <%= render category %>
    <p>
      
    </p>
  <% end %>
</div>


<%= link_to "New category", new_category_path %>
