<section>

<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<button>
<a href="<%= url_for('/users/index') %>" class="btn">Back</a>
</button>
<div id="categories">
  <% @categories.each do |category| %>
    <%= render category %>
    <p>
      
    </p>
  <% end %>
</div>

<button>
<%= link_to "New category", new_category_path %>
</button>

</section>
