
<section class="container">
<br>
<%= link_to "Back", categories_path,  class: "btn light-blue darken-4 text-ligth" %>
  <h3 class="center-align">New Category</h3>

  <div>
    <%= render "form", category: @category %>
  </div>

 


</section>

