<section class="container">
<br>
<%= link_to "Back", categories_path, class: "btn light-blue darken-4 text-ligth" %>

    <h3 class="center-align">New transaction</h3>
    <%= render "form", transaction: @transaction %>


</section>